<section class="cards p-5 h-100">
  <div class="row ">
    <app-loader></app-loader>

    <div class="col-md-6 mx-auto">
      <div class="d-md-flex justify-content-center " >
        <img [src]="movieDetails.image" class="card-img-top mb-2  w-50 mx-auto rounded" alt="product">
      <div class="card-body offset-md-2 fs-1">
  
        <h3 class="card-title"> Product : {{movieDetails.name}}</h3>
        <h3 class="card-title" >Price &nbsp;  &nbsp; &nbsp;: {{ movieDetails.price | currency:'AUD': 'EG':'2.':'fr'}}</h3>
  
        <h3 class="card-title"> Date  &nbsp; &nbsp; &nbsp; : {{movieDetails.createdAt | date : 'MMMM YYYY'}}</h3>
    
      
      <div *ngIf="movieDetails.count > 0 then found else notFound"></div>
      <ng-template #found >
        <p class="text-info">in stock</p>
        
      </ng-template>
      <ng-template #notFound >
        <p class="text-danger">out of stoke</p>
      </ng-template>
      
        
      </div>
      </div>
    </div>
    
  </div>

  
  </section>
