.not-favourite{
    color: red;
}


.text {
    // width:200px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    min-height: 40px;
    max-height: 40px;
}  