<section class="cards p-5 h-100">
  <div class="container">
    <app-loader></app-loader>

    <h2 >total price is : {{ productsTotalPrice }}</h2>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <ng-template [ngIf]="cartCount == 0" >
          <img src="../../assets/empty-cart-flat-illustration-concept-vector-removebg-preview.png" class=" mx-auto "  alt="shopping">
          </ng-template
        >
    
        <div *ngFor="let product of prod" class="d-flex mb-3">
          <img [src]="product.image" class="card-img-top w-25 me-3" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h5 class="card-title">
              {{ product.price | currency: "AUD":"EG":"2.":"fr" }}
            </h5>
            <h5>quantity {{ product.quantity }}</h5>
            <button class="btn me-4 btn-danger" (click)="decreaseAmount(product)">
              -
            </button>
            <button class="btn btn-success" (click)="increaseAmount(product)">
              +
            </button>
          </div>
        </div>
      </div>
      
    </div>

   
  </div>
</section>
